#############
## Unity junk
#############

GGJMMXVI/Library
GGJMMXVI/Obj
GGJMMXVI/Temp
GGJMMXVI/*.suo
GGJMMXVI/*.user
GGJMMXVI/*.pidb
GGJMMXVI/*.userprefs
GGJMMXVI/*.csproj
GGJMMXVI/*.unityproj
GGJMMXVI/*.sln
GGJMMXVI/.vs

#############
## Blender crap
#############
*.blend1
*.blend1.meta
*.blend2
*.blend2.meta

#############
## OS detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store